:root {
  --title-color: #212121;
  --text-color: #757575;
  --active-button-color: #2196f3;
  --hover-button-color: #188ce8;
  --background-footer-color: #2f303a;
  --background-header-color: #ffffff;
  --background-first-color: none;
  --background-second-color: #f5f4fa;
}

.body {
  background-color: var(--background-first-color);
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--background-header-color);
}

.header .logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
}

.header .logo-right {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-color);
  text-decoration: none;
}

.navigator .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
  text-decoration: none;
}
.link-studio.current,
.link-portfolio.current {
  color: var(--active-button-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active {
  color: var(--active-button-color);
}
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
  text-decoration: none;
}
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--active-button-color);
}

.hero {
  background-color: var(--background-footer-color);
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--background-header-color);
}
.button-hero {
  background-color: var(--active-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--background-header-color);
  cursor: pointer;
  border-radius: 4px;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--hover-button-color);
  color: var(--background-header-color);
}

.title-large {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-color);
}
.title-advantages-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
}
.text-advantages {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

.title-team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
  text-decoration: none;
}
.text-team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
  text-decoration: none;
}

.button-portfolio {
  background-color: var(--background-second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-color);
  cursor: pointer;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--active-button-color);
  color: var(--background-header-color);
}

.title-portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.text-portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
   color: var(--text-color);
}

.footer {
  background-color: var(--background-footer-color);
}
.footer .logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
}
.footer .logo-right {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--background-header-color);
  text-decoration: none;
}
.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address .link:hover,
.address .link:focus {
  color: var(--background-header-color);
}