:root {
  --title-color: #212121;
  --text-color: #757575;
  --active-button-color: #2196f3;
  --hover-button-color: #188ce8;
  --background-footer-color: #2f303a;
  --background-header-color: #ffffff;
  --background-second-color: #f5f4fa;
}

.body {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--background-header-color);
  border-bottom: 1px solid transparent;
}
.header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
  display: block;
}
.header .logo-right {
  color: var(--title-color);
}

.navigator .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
  text-decoration: none;
}
.navigator .link.current {
  color: var(--active-button-color);
}
.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active {
  color: var(--active-button-color);
}
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--active-button-color);
}

.hero {
  background-color: var(--background-footer-color);
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--background-header-color);
  text-align: center;
}
.button-hero {
  background-color: var(--active-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--background-header-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--hover-button-color);
  color: var(--background-header-color);
}

.title-large {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-color);
}
.title-advantages-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
}
.text-advantages-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.box-team-list {
  text-decoration: none;
}

.team-section {
  background-color: var(--background-second-color);
}
.title-team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}
.text-team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}
.button-portfolio {
  background-color: var(--background-second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--active-button-color);
  color: var(--background-header-color);
}
.card-portfolio {
  text-decoration: none;
}
.title-portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.text-portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
.footer {
  background-color: var(--background-footer-color);
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
}
.footer .logo-right {
  color: var(--background-header-color);
}
.address .link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address .link:hover,
.address .link:focus {
  color: var(--background-header-color);
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container,
.nav {
  display: flex;
  align-items: center;
}
.navigator {
  display: flex;
  margin-left: 93px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.navigator .paragraph-navigator + .paragraph-navigator {
  margin-left: 50px;
}
.contacts .paragraph-contacts + .paragraph-contacts {
  margin-left: 50px;
}
.paragraph-navigator > .link,
.paragraph-contacts > .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.title-hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}
.button-hero {
  min-width: 200px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.paragraph-advantages:not(:last-child) {
  margin-right: 30px;
}
.paragraph-advantages {
  max-width: 270px;
}
.title-advantages-list {
  margin-bottom: 10px;
}
.list-advantages,
.list-presentation,
.list-team {
  display: flex;
}
.title-large {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.presentation-section {
  padding-top: 0;
}
.paragraph-presentation:not(:last-child) {
  margin-right: 30px;
}
.paragraph-team:not(:last-child) {
  margin-right: 30px;
}
.box-team-list {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}
.title-team-list {
  margin-bottom: 10px;
}

.list-button,
.list-portfolio {
  display: flex;
}
.list-portfolio {
  flex-wrap: wrap;
}
.list-button {
  margin-bottom: 50px;
  justify-content: center;
}
.paragraph-button-portfolio:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  padding: 6px 22px;
}
.box-portfolio-list {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.title-portfolio-list {
  margin-bottom: 4px;
}
.paragraph-card-portfolio:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-portfolio {
  margin-right: -30px;
  margin-bottom: -30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}
.paragraph-address:not(:last-child) {
  margin-bottom: 9px;
}
