:root {
  --title-color: #212121;
  --text-color: #757575;
  --active-button-color: #2196f3;
  --hover-button-color: #188ce8;
  --background-footer-color: #2f303a;
  --background-header-color: #ffffff;
  --background-second-color: #f5f4fa;
}

.body {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: var(--background-header-color);
}
.header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
}
.header .logo-right {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-color);
  text-decoration: none;
}
.navigator .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
  text-decoration: none;
}
.link-studio.current,
.link-portfolio.current {
  color: var(--active-button-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active {
  color: var(--active-button-color);
}
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
  text-decoration: none;
}
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--active-button-color);
}
.hero {
  background-color: var(--background-footer-color);
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--background-header-color);
}
.button-hero {
  background-color: var(--active-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--background-header-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--hover-button-color);
  color: var(--background-header-color);
}
.title-large {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-color);
}
.title-advantages-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
}
.text-advantages-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.card-team {
  text-decoration: none;
}
.title-team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}
.text-team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}
.button-portfolio {
  background-color: var(--background-second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--active-button-color);
  color: var(--background-header-color);
}
.card-portfolio {
  text-decoration: none;
}
.title-portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.text-portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
.footer {
  background-color: var(--background-footer-color);
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-button-color);
  text-decoration: none;
}
.footer .logo-right {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--background-header-color);
  text-decoration: none;
}
.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address .link:hover,
.address .link:focus {
  color: var(--background-header-color);
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container,
.nav,
.navigator,
.contacts {
  display: flex;
}
.nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px;
}
.paragraph-navigator:not(:last-child) {
  margin-right: 50px;
}
.navigator {
  margin-right: 331px;
}
.paragraph-contacts:not(:last-child) {
  margin-right: 50px;
}
.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
}
.title-hero {
  display: block;
  margin: 0 auto;
  width: 696px;
  height: 120px;
  text-align: center;
}
.button-hero {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}
.advantages-container,
.team-container,
.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.paragraph-advantages:not(:last-child) {
  margin-right: 50px;
}
.paragraph-advantages {
  width: 270px;
}
.presentation-container {
  padding-bottom: 94px;
}
.list-advantages,
.list-presentation,
.list-team {
  display: flex;
}
.title-large {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.paragraph-presentation:not(:last-child) {
  margin-right: 30px;
}
.paragraph-team:not(:last-child) {
  margin-right: 30px;
}
.box-team-list {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.title-team-list {
  margin-top: 30px;
  margin-bottom: 10px;
}
.text-team-list {
  margin-bottom: 30px;
}
.list-button,
.list-portfolio {
  display: flex;
}
.list-portfolio {
  flex-wrap: wrap;
}
.list-button {
  margin: 0 auto;
  margin-bottom: 56px;
  justify-content: center;
}
.paragraph-button-portfolio:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  padding: 6px 22px;
}
.box-portfolio-list {
  display: block;
  margin: 0 auto;
}
.title-portfolio-list {
  margin-top: 20px;
  margin-bottom: 4px;
}
.text-portfolio-list {
  margin-bottom: 20px;
}
.paragraph-card-portfolio:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-portfolio {
  margin-right: -30px;
  margin-bottom: -30px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}
